    body {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      letter-spacing: .5px;
      background-image: url('../assets/images/header1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      height: 100vh;
    }
  
    .initial{
      height: 100%;
      width: 100%;
      background-color: #000;
      position: fixed;
      top: 0%;
    }
        
    h1 {
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      font-weight: 00;
    }
      
    .surco{
      margin-left: 5%;
      margin-top: 2%;
      width: 20%;
      height: 20%;
      border-radius: 50%;
    }
    
    .secondSection{
  
     margin-top: 50vh;
     height: 30vh;
   }
    
    #input-search{
       
      width: 65%;
      /* height: 40px; */
      font-size: 20px;
      text-indent: 10px;
      
    
   }
  
   .content-search{
      
     width: 84%;
      display: none;
   }
  
   .content-table{
     width: 77%;
     max-height: 200px;
     height: auto;
     background: rgba(0,0,0,0.0);
     margin-left: 24px;
     overflow-y: visible;
     overflow-x: hidden;
   }
  
   .content-table table{
      width: 100%;
   }
  
   tbody tr td a{
     display: block;
     padding: 9px;
     color: white;
     text-decoration: none;
   }
  
   tbody tr td a:hover{
      background: rgba(0,0,0,0.3);
   }
  
   #table_length, #table_filter, #table_info, #table_paginate{
      display: none;
   }
   
   